<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
   <!-- <a id="skip-to-content" href="#content">Skip to the content.</a>-->

    <header class="page-header" role="banner">
      
      <ul class="flex-container nowrap" style="
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  /* justify-content: space-between; */
  margin-top: -1.2rem;
  ">
        <img src="/images/logo.jpg" style="width:6rem;height:6rem;">

        <img src="/images/iete.png" class="iete-logo" style="margin-left:2rem; width:6rem;height:6rem"><br></ul>
      <p style="font-weight:900;font-size: 1.8rem;">RNS INSTITUTE OF TECHNOLOGY</p><br>
      <p style="
    font-size: 1.3rem;
    margin-top: -1.8rem;
    font-weight: 800;
">Department of Electronics and Communication Engineering</p>
<p style="font-size: 0.6rem;margin-top: -1.5rem;">(AICTE Approved, VTU Affiliated and NAAC 'A' Accredited)
UG Programs - CSE, ECE, ISE, EIE and EEE have been Accredited by NBA for the Academic years 2018-19, 2019-20 and 2020-2021<br>Dr. Vishnuvardhana Road Post, Channasandra, RR Nagar, Bengaluru, Karnataka 560098<br>Telephone- 080-28611880/1  Website- rnsit.ac.in
</p>
<hr>
      <h3 class="project-name">IETE Sponsored Fourth National Conference on Emerging Trends in Engineering, Science and Technology (NCETEST 2021)</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
        <a href="https://forms.gle/ru3PVVQwbC93zn2t7" class="btn" style="margin-bottom: 1rem;margin-top:1.3rem;
    color: #142850;
    background-color: rgba(255,255,255,0.4);
    font-weight: 900;
    border-color: rgba(255,255,255,0.7);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    letter-spacing: 3px;
    transition: white 0.2s, background-color 0.2s, border-color 0.2s;
    transition-property: white, background-color, border-color;
    transition-duration: 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
    text-decoration: underline;">Paper Submission Link</a>
     <br>
        <br>
      <h3>Date of Conference - Friday, July 2, 2021</h3>
      <!--<marquee>Send papers and plagiarism report to ncetest2020.rnsit@gmail.com</marquee>-->
      {% if site.show_downloads %}
        <a href="https://forms.gle/ru3PVVQwbC93zn2t7" class="btn" style="margin-bottom: 1rem;
    color: #142850;
    background-color: rgba(255,255,255,0.4);
    font-weight: 900;
    border-color: rgba(255,255,255,0.7);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    letter-spacing: 3px;
    transition: white 0.2s, background-color 0.2s, border-color 0.2s;
    transition-property: white, background-color, border-color;
    transition-duration: 0.2s, 0.2s, 0.2s;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
    text-decoration: underline;">Paper Submission Link</a>
        <!--<a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>-->
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      
      {{ content }}
      
      <!--<h3 style="color:red">Send papers and plagiarism report to</h3><h3 style="color:green">ncetest2020.rnsit@gmail.com</h3>
      <footer class="site-footer">-->
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits"style="font-size:0.7rem;">Web page created by Aishwarya Karanth, Department of ECE, RNSIT</span>
      </footer>
    </main>
  </body>
</html>
